<div class="row">
    <div class="col-md-9 col-offset-3">
        {{ form.text('coupon_code','', {'help':'Add a new coupon to this order'}) }}
        {% if coupons is not empty %}
        <table class="table">
            <thead>
                <tr><td>Code</td><td>Discount</td><td></td></tr>
            </thead>
            <tbody>
            {% for coupon in coupons %}
            <tr><td>{{ coupon.code }}</td><td>${{ coupon.discount }}</td><td><button type="submit" class="btn btn-danger" name="order[action]" value="removeCoupon/{{ coupon.id }}">Remove</button></td></tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
